<html>
<head>
<style>
body
{
background-color: lightblue;
}
p
{
text-align:center;
}
h1
{
margin-top: 50px;
text-decoration: underline;
}
marquee
{
border-style: groove;
border-color:blue;
text-decoration: underline;
text-color:blue;
text-size:20px;
text
}
</style>
</head>
<body>
<h1><center>"Welcome to sentiment analysis of twitter account"</center></h1>
<br>
<br>
<br>
<p>enter name of the person:
                <form method="post" action=".">
                    <p><input name="tname"/></p>
                    <p><input type="submit" value="see details"/></p></form>
<br>
<marquee>THIS PROJECT IS BASED ON PYTHON AND FLASK!!!</marquee>
</body>
</html>
